.container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 25px;
}
.cardTextos{
    background-color: #F4F6FB;
    max-width: 800px;
    border: 1px solid #CBDFFF;
    box-shadow: 1px 1px 10px #CBDFFF;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    text-align: justify;
    animation: aparecer 2s ease;
}


.cardTextos p{
    margin-bottom: 20px;
}

.imgpt1{
    width: 300px;
}

.parte1Textos{
    max-width: 500px;
}

.linkArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes aparecer {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    50%{
        opacity: 0.5;
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

